<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Testing and figuring out if I know wtf I'm doing :D
  </h1>
  <img width="300" alt="San Francisco" src="https://www.mckinsey.com/west-coast/~/media/McKinsey/Locations/North%20America/West%20Coast/San%20Francisco/WCO_SanFrancisco_hero_GettyImages-476881195_1536x768_crop-left_2.ashx?mw=1536&car=546:205&cpx=Left&cpy=Center">
</div>
<div class="dispatchsearch">
  <input type="search" id="addressSearch" name="q" placeholder="Address" required>
  <input type="search" id="timeSearch" name="q" placeholder="Time" required>
  <button>Search</button>
</div>
<div class="nav">
  <nav>
    <a routerLink="/dispatchSearch">Dispatch</a>
    <a routerLink="/dataVisuals">Data Visuals</a>
</nav>
</div>

